.qq2xItSXjpCsNrcxyPJtO {
    padding: 0px 24px 0px 24px;
}
._3mZ2rKd2RECK4q4ufmsDYX ._3WauYi7bNDSGIogMLPVYES .edQzwM57P-T5K3eDGkyvZ {
    background: unset;
}
._1BxZDLT8KveuJzn-1q4NTP ._2-AUyaXfJHWP85tZVENytR svg {
    mask-image: linear-gradient(to right, var(--md-sys-color-surface) 90%, rgba(14, 20, 27, 0) 100%) !important;
}
/* Buttons */
._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled,
._1VNuYHM6BPBOJspC6zPf5r ._3ydigb6zZAjJ0JCDgHwSYA, ._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled,
._1GdR5LbENV7LOGROJBxohI._1GdR5LbENV7LOGROJBxohI.DialogButton:enabled,
._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:enabled, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:active, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:hover, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:enabled:active:hover, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC.DialogButton:enabled,
._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:enabled, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:active, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:hover, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:enabled:active:hover, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled {
    border-radius: var(--corner-radius-full);
}
._1GdR5LbENV7LOGROJBxohI._1GdR5LbENV7LOGROJBxohI.DialogButton:enabled {
    padding: 2px 0px;
    outline: 1px solid;
    margin-right: unset;
}
.qq2xItSXjpCsNrcxyPJtO:not(:has(button)):not(:has(.qrwf3iWWPa-yXVD0zOlHM)) ._1CTr1yKRkOXnJ4gSS1-1A3,
._117rQTHH1RIewY7sSlvg3Z {
    margin-right: unset;
}
.OINnOU8K5HzPe2nzczpZi {
    margin-left: 8px;
    margin-right: 8px;
}
.IbePLaw-vSvhG1GTenYFg .OINnOU8K5HzPe2nzczpZi {
    margin: 0px;
}
._3mZ2rKd2RECK4q4ufmsDYX.pHDI1ddoKXceD5KL7W-4z,
._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg._2KB3yVOsiRCK9qK6mwKl9c,
._2sCvZTD6ZTZz3p9_ekH_gI ._3B3J2qtE6ozU_VXMMN2L51 {
    border-radius: var(--corner-radius-medium);
}
/* Cards */
.OINnOU8K5HzPe2nzczpZi._2m6Q3ca-wXeLIVShFCO51T, .IbePLaw-vSvhG1GTenYFg .OINnOU8K5HzPe2nzczpZi._2m6Q3ca-wXeLIVShFCO51T:has(._3-SbBb63lDnu6LzKV-q3Cg),
._1VNuYHM6BPBOJspC6zPf5r,
._1VNuYHM6BPBOJspC6zPf5r:hover, ._1VNuYHM6BPBOJspC6zPf5r._3-SbBb63lDnu6LzKV-q3Cg {
    border-radius: var(--corner-radius-medium);
}

.OINnOU8K5HzPe2nzczpZi div[role="listitem"] ._21P7c4MWmsU2QSZeL-uyZo {
    margin-bottom: 2px;
}

.OINnOU8K5HzPe2nzczpZi div[role="listitem"]:first-of-type:not(:last-of-type) ._1VNuYHM6BPBOJspC6zPf5r {
    border-top-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-small);
    border-bottom-right-radius: var(--corner-radius-small);
}
.OINnOU8K5HzPe2nzczpZi div[role="listitem"]:not(:first-of-type):not(:last-of-type) ._1VNuYHM6BPBOJspC6zPf5r {
    border-top-left-radius: var(--corner-radius-small);
    border-top-right-radius: var(--corner-radius-small);
    border-bottom-left-radius: var(--corner-radius-small);
    border-bottom-right-radius: var(--corner-radius-small);
}
.OINnOU8K5HzPe2nzczpZi div[role="listitem"]:last-of-type:not(:first-of-type) ._1VNuYHM6BPBOJspC6zPf5r {
    border-top-left-radius: var(--corner-radius-small);
    border-top-right-radius: var(--corner-radius-small);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}

/* Test */
/* ._1SyggnJY6qbRSmbZpkK3-H {
    flex-basis: 30%;
}
._1VNuYHM6BPBOJspC6zPf5r ._2ZfashhZu6uE9fCwyPS9mJ._2WEwEIAncE7-wa4Ye07a8x {
    transition: all 0.2s ease-in-out;
    width: 0px;
}
._1VNuYHM6BPBOJspC6zPf5r:hover ._2ZfashhZu6uE9fCwyPS9mJ._2WEwEIAncE7-wa4Ye07a8x {
    width: 36px;
} */

/* md3expressive */
/* Toggle button */
/* Pause download */
._1VNuYHM6BPBOJspC6zPf5r ._1cMXIpc5BRVY11dIrWKMNW ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:has(svg path[d="M14.5 30.5a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1v-25a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v25Zm15-25a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v25a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-25Z"]) {
    border-radius: var(--corner-radius-small);
}
/* Resume download */
._1VNuYHM6BPBOJspC6zPf5r ._1cMXIpc5BRVY11dIrWKMNW ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:has(svg path[d="M7.5 32.135a1 1 0 0 1-1.5-.866V4.73a1 1 0 0 1 1.5-.866l22.999 13.269a1 1 0 0 1 0 1.732l-23 13.269Z"]) {
    border-radius: var(--corner-radius-extra-large);
}
/* clear download */
._1VNuYHM6BPBOJspC6zPf5r:not(.IbePLaw-vSvhG1GTenYFg) ._1cMXIpc5BRVY11dIrWKMNW {
    margin-right: 8px;
}

._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW ._2ZfashhZu6uE9fCwyPS9mJ._2WEwEIAncE7-wa4Ye07a8x {
    margin-left: 3px;
}
._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW:has(._2ZfashhZu6uE9fCwyPS9mJ ._3oavRVhIS9tC3vBsFT4Ggi:not(._2xR-V97DWI7svSjgiCb3N-)) ._2ZfashhZu6uE9fCwyPS9mJ._2WEwEIAncE7-wa4Ye07a8x {
    margin-left: 1px;
}

._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW ._2ZfashhZu6uE9fCwyPS9mJ._2WEwEIAncE7-wa4Ye07a8x ._3oavRVhIS9tC3vBsFT4Ggi,
._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW ._3oavRVhIS9tC3vBsFT4Ggi._2xR-V97DWI7svSjgiCb3N-, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi._2xR-V97DWI7svSjgiCb3N-:enabled, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi._2xR-V97DWI7svSjgiCb3N-:active, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi._2xR-V97DWI7svSjgiCb3N-:hover, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi._2xR-V97DWI7svSjgiCb3N-:enabled:active:hover {
    opacity: 1;
    height: 100%;
    padding: 2px 12px 2px 10px;
}

._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW ._2ZfashhZu6uE9fCwyPS9mJ:not(._2WEwEIAncE7-wa4Ye07a8x) ._3oavRVhIS9tC3vBsFT4Ggi,
._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW ._2ZfashhZu6uE9fCwyPS9mJ:not(._2WEwEIAncE7-wa4Ye07a8x) ._3oavRVhIS9tC3vBsFT4Ggi:active {
    opacity: 1;
    height: 100%;
    padding: 2px 6px 2px 8px;
}

._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW ._2ZfashhZu6uE9fCwyPS9mJ:not(._2WEwEIAncE7-wa4Ye07a8x) ._3oavRVhIS9tC3vBsFT4Ggi,
._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW .sQZ70orTPi-ELUlaS-ywR._1FnJ6dPuknQFQ2RTpKTI16._3cI5TXsFX3bvpR-7EBOtxq ._3ydigb6zZAjJ0JCDgHwSYA._2AzIX5kl9k6JnxLfR5H4kX {
    border-top-left-radius: var(--corner-radius-full);
    border-bottom-left-radius: var(--corner-radius-full);
    border-top-right-radius: var(--corner-radius-small);
    border-bottom-right-radius: var(--corner-radius-small);
}
._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW ._2ZfashhZu6uE9fCwyPS9mJ:not(._2WEwEIAncE7-wa4Ye07a8x) ._3oavRVhIS9tC3vBsFT4Ggi:active,
._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW .sQZ70orTPi-ELUlaS-ywR._1FnJ6dPuknQFQ2RTpKTI16._3cI5TXsFX3bvpR-7EBOtxq ._3ydigb6zZAjJ0JCDgHwSYA._2AzIX5kl9k6JnxLfR5H4kX:active {
    border-top-left-radius: var(--corner-radius-full);
    border-bottom-left-radius: var(--corner-radius-full);
    border-top-right-radius: var(--corner-radius-extra-large);
    border-bottom-right-radius: var(--corner-radius-extra-large);
}

._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW ._2ZfashhZu6uE9fCwyPS9mJ._2WEwEIAncE7-wa4Ye07a8x ._3oavRVhIS9tC3vBsFT4Ggi {
    border-top-left-radius: var(--corner-radius-small);
    border-bottom-left-radius: var(--corner-radius-small);
    border-top-right-radius: var(--corner-radius-full);
    border-bottom-right-radius: var(--corner-radius-full);
}
._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW ._2ZfashhZu6uE9fCwyPS9mJ._2WEwEIAncE7-wa4Ye07a8x ._3oavRVhIS9tC3vBsFT4Ggi:active {
    border-top-left-radius: var(--corner-radius-extra-large);
    border-bottom-left-radius: var(--corner-radius-extra-large);
    border-top-right-radius: var(--corner-radius-full);
    border-bottom-right-radius: var(--corner-radius-full);
}

._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW div:first-of-type:last-of-type ._3oavRVhIS9tC3vBsFT4Ggi,
._1ugNiylO2vKXhirsGocAxa .OINnOU8K5HzPe2nzczpZi ._1cMXIpc5BRVY11dIrWKMNW div:first-of-type:last-of-type ._3oavRVhIS9tC3vBsFT4Ggi:active {
    border-radius: var(--corner-radius-full);
    padding: 0px 12px 0px 12px;
}