/* iframe & miniprofiles */
._38FqIwZQKW6BlRyzN66pi6,
._2QPdq7GZ_03AD1ioPixVXW {
    box-shadow: var(--elevated-shadow);
}
._38FqIwZQKW6BlRyzN66pi6 ._2HshOjKxsMkk2uUtP5Sp8x {
    display: none;
}
._1V52f_cM-aALy2XpzrJBIA ._22tloOR0Wp0KKLI9Bhcmm5 {
    background: unset;
}
._38FqIwZQKW6BlRyzN66pi6, ._38FqIwZQKW6BlRyzN66pi6 .rYBZBWnNW6m-N9vX0Chce,
._2QPdq7GZ_03AD1ioPixVXW {
    border-radius: var(--corner-radius-small);
}

._1s3b90MDEzWiXAzyEg4vu2 ._2HU_E-2SbIBuGTf-28tVgU {
    box-shadow: unset;
    border-radius: var(--corner-radius-small);
}

._2EMM516bLA2dC0r3OreZnv ._2pHz57SGRWZSR3oEmPPKK_ {
    border-radius: var(--corner-radius-small);
}