._3pXasCUulX4jjqO79s4q_F ._2MkHZqf7MrgW3f8qGHiI8Z,
._3pXasCUulX4jjqO79s4q_F {
    display: none !important;
}
/* Divider */
._276E6ijBpjMA2_iTxNhhjc /* Resize */ {
    opacity: 0.5;
}
._1ENHEsrSLcTRtPQFl1F-wL {
    border: 0px solid transparent;
    border: unset;
}
/* ._1ENHEsrSLcTRtPQFl1F-wL ._1rDh5rXSFZJOqCa4UpnI4z div:not([class]) {
    z-index: 1599;
} */
._2Nq6ov7A1hGcHXVOXNt_OE {
    border-top: 0px solid transparent;
}


/* Left */

/* Home & Collections */
/* Home Library Icon */
._1ooROmAgkhoBH_o65yl9dJ {
    display: none;
}
/* Both */
._2TKEazUUS3TlniZfpc8OOe {
    box-shadow: unset;
    padding: unset;
    margin: 0px 5px;
    height: unset;
}
._3pSPluBgf0NeR1kkCLWMhR /* Home */ {
    border-top-left-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._3pSPluBgf0NeR1kkCLWMhR._30KGSfPjPskFlnrSxBfkiK /* Collections */ {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
/* Collection Icon */
.nC-pL16iUnIRcaj1UVnwq ._2tyaVs9BpqcW068aaOrO56 {
    border-radius: 2.5px;
}
/* Types */
._3mzKdQXht__YHo6PX1LmB6:first-child {
    border-top-left-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._3mzKdQXht__YHo6PX1LmB6:last-child {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
._1ZS_xta5HMXzR8JgxDH6n7 ._36r2az6roul_Oej7D4BMI6 {
    margin: 4px 0px 2px 4px;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 {
    margin-top: -2px;
    padding: 4px 6px;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6:last-child {
    margin-right: -2px;
}
/* Scroll to top */
.uE7Pj4tb2n3_Bx4vjEX0a {
    border-radius: var(--corner-radius-full);
}
.uE7Pj4tb2n3_Bx4vjEX0a .SVGIcon_Arrow {
    border: unset;
}
/* Search */
._20QAC4WMXm8qFE8waUT5oo {
    gap: 4px;
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS {
    border-radius: var(--corner-radius-full);
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
    border-bottom: unset;
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase:hover {
    box-shadow: unset;
}
/* Button Near Search */
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU {
    border-radius: var(--corner-radius-full);
}
._172OFJhtx4Jt2ydY6-9IUm, /* When Filter Opened */
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._1Gjk27xaRIzt2zOSwOSP0N /* When Inputed */ {
    display: none;
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: red;
}
/* Category */
._2sYIghGVXJr6tsQVvcryy8, /* Base */
._2sYIghGVXJr6tsQVvcryy8.sXMOsx8OIRalBMxO9yFY5, /* Chosen */
._3km84Vscc0uS91f0RN_30C /* RMB */ {
    border: none !important;
    box-shadow: unset;
}
/* Games */
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ /* Chosen */ {
    box-shadow: unset;
}
._2kzMb_F7UTOEdecAFftN-l svg.f6-7-5CWFxNqF2BycKWlb.f6-7-5CWFxNqF2BycKWlb.f6-7-5CWFxNqF2BycKWlb circle /* Download Icon */ {
    stroke-width: 80px;
}
/* Games RMB */
._3km84Vscc0uS91f0RN_30C ._1vO6BoiVslZgs1kqDGdUs8 /* Padding fixes */ {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 23px;
}
/* Bg Fix */
.u1xD3KJEgksF_J_5TLZzO, /* Collection */
._1bq4x9pa4-9RLY-dXWUZTp, /* Downloads */
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ .cMb2tLY-QjdRohM5U6Btp, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ .cMb2tLY-QjdRohM5U6Btp {
    background: unset;
}


/* Right (Main) */

._2Dd4T78PcCTUVgOtDGFY5j {
    border-radius: var(--corner-radius-large);
}
._3xRRJfD2xy95i9NhJxLTp0:has(._9sPoVBFyE_vE87mnZJ5aB) ._2Dd4T78PcCTUVgOtDGFY5j {
    border-top-left-radius: var(--corner-radius-large);
    border-bottom-left-radius: var(--corner-radius-large);
    border-top-right-radius: var(--corner-radius-none);
    border-bottom-right-radius: var(--corner-radius-none);
    /* border-radius: var(--corner-radius-large); */
}
._23zCI_59RJTWRvY-_YCFb9, /* Bg Soundtrack Fix */
._1c7FWVusLDkD_Lv6ZB0uTY ._22Q27ULX8FrTAxrt3fLxn1 ._1s3EpCtCwCVJ-7hbeqJeWw ._1Rrhq0ynyX66fxOi1wUNXv ._17Yl1Gv8pnM24mkeAW_ZF4,
._2sNr7PFYcJZWNkEMCDVVPR /* Bg Category Fix */ {
    background: unset;
}
._1c7FWVusLDkD_Lv6ZB0uTY ._22Q27ULX8FrTAxrt3fLxn1 ._1s3EpCtCwCVJ-7hbeqJeWw {
    border: unset;
    border-radius: var(--corner-radius-medium);
    box-shadow: unset;
}
._3bWISeqP3H2j6YJnFwVEwu:not(.E5k6bKwdV9GHvwwZHYfzA) /* Header Category Fix */ {
    display: none;
}

/* Soundtrack */
._1R0eEV6Mxu9G0FnF8g9vNI {
    filter: unset;
}

/* Overflow */
._2AUVZlzQq67qe3yhLZsPPB,
._3FmxxjyWNHU1PrBGnBe6tm._2l416KfEtI4CL0mCUEmOBw {
    overflow-y: overlay;
}

/* Scroll to Top */
._1J21tLst5SEhBPkVRT53UV {
    height: unset;
    padding-top: 100%;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: right;
}
/* aka FABs */
._1J21tLst5SEhBPkVRT53UV div {
    background: unset;
    box-shadow: unset;
    /* box-shadow: var(--elevated-shadow); */
    /* font-size: 0px; */
    text-align: end;
    padding: 18px; /* 50 */
    border-radius: var(--corner-radius-full);
    height: 100%;
    /* background-position-x: left;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="none" stroke="var(--md-sys-color-primary)" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M24.008 14.1V42M12 26l12-12l12 12M12 6h24"/></svg>');
    background-size: 24px;
    background-position: center left 16px;
    background-repeat: no-repeat; */
    text-transform: unset;
    letter-spacing: unset;
}
._1J21tLst5SEhBPkVRT53UV._28ZR8gHitOrJaSLxcIAl2p div {
    border-radius: var(--corner-radius-large);
}
._1J21tLst5SEhBPkVRT53UV div:hover {
    box-shadow: unset;
    /* box-shadow: var(--elevated-shadow-hover); */
}
._1J21tLst5SEhBPkVRT53UV:hover._28ZR8gHitOrJaSLxcIAl2p {
    filter: unset;
}

/* Resize Divider */
._276E6ijBpjMA2_iTxNhhjc {
    height: 95% !important;
    opacity: 0 !important;
    width: 1px !important;
}
._276E6ijBpjMA2_iTxNhhjc {
    height: 30%;
    margin: auto;
    width: 4px;
    border-radius: var(--corner-radius-full);
    transition: all var(--animation-duration-short3) var(--animation-easing-standart-accelerate);
}
._276E6ijBpjMA2_iTxNhhjc:hover {
    height: 35%;
}
._2ZP8eOoQ1-pME4-pF91qSt ._276E6ijBpjMA2_iTxNhhjc {
    height: 38%;
}

/* Whats New */
/* Card */
.B-vCdL38RiJlhfSRgZv78 .SPz0ipLqfF1oAO7tdrkdY {
    background: unset;
}
.B-vCdL38RiJlhfSRgZv78 .SPz0ipLqfF1oAO7tdrkdY,
._3Rb_j3lgHaVVIud4Gla7_m {
    border-radius: var(--corner-radius-medium);
}
.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5:hover ._1-W_ZQ4XyImc86SJFamGha, .gpfocus>.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5 ._1-W_ZQ4XyImc86SJFamGha {
    transform: scale(1.1);
}
.B-vCdL38RiJlhfSRgZv78 ._3OSZu24hLN7YKjqGi7I2Xp /* Date */ {
    border-top-left-radius: var(--corner-radius-small);
    border-bottom-right-radius: var(--corner-radius-medium);
}
/* Title */
._1Gu1U2_kcg3AWLrXQgX5S6 div.DVBcpUzJ0x6kaRMfug0OJ {
    padding: 2px 4px;
    border-radius: var(--corner-radius-small);
}
._3_xMyCJAh_Dv99KgZ54P3j {
    padding: 4px;
    margin-top: unset;
    /* width: unset; */
    background: unset;
    border-radius: var(--corner-radius-medium);
}
/* Arrows Down Button */
._2-p7shAZYrRijpaTU9bAFR>div {
    border-radius: var(--corner-radius-full);
    /* box-shadow: var(--elevated-shadow); */
}
/* Games */
.WYgDg9NyCcMIVuMyZ_NBC /* Cards */ {
    box-shadow: unset;
    border: unset;
    border-radius: var(--corner-radius-medium);
}
._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC:hover:not(._3VOR2AeYATx3qSE0I-Pm-5), ._54PuCatl_tYG836TOs4Mv .WYgDg9NyCcMIVuMyZ_NBC._2YsY_x7hLyKlUqjX9bhn0R:not(._3VOR2AeYATx3qSE0I-Pm-5),
.WYgDg9NyCcMIVuMyZ_NBC:hover {
    box-shadow: var(--elevated-shadow);
}
/* Big Game */
._2d1hSvdpY5L2-GN1EnUb9Z {
    filter: unset;
}
._2nq-zpLz_Efnz7D3Qzi4mA /* Blur Image */ {
    display: none;
}
/* Play Button */
._3AjoLnMNKxYmNTGTJCLfgs {
    border-radius: var(--corner-radius-medium);
    box-shadow: unset;
}

/* Game Opened */
._3FmxxjyWNHU1PrBGnBe6tm._2l416KfEtI4CL0mCUEmOBw, /* Img Bg */
.HNbe3eZf6H7dtJ042x1vM, /* Img Bg */
.QlR9EFwTdUNm_J5vx54_Z /* Img Bg */ {
    border-radius: var(--corner-radius-large);
}
.HNbe3eZf6H7dtJ042x1vM /* Img Bg */ {
    width: 100%;
    max-width: unset;
    mask-image: none;
    -webkit-mask-image: none;
}
.QlR9EFwTdUNm_J5vx54_Z /* Img Bg */ {
    height: 100%;
}
._1IX7FPSY9Jb82KhBVBSkZa /* Remove paralax scroll effect */ {
    transform: none !important;
}
.HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb, .HNbe3eZf6H7dtJ042x1vM.HSQWw9HUAP6jtA2OZjS-u /* Shadow */ {
    mask-image: unset;
    -webkit-mask-image: unset;
    opacity: 0;
}
._2OOzYVWIHaKXm6_7sscT9i .Jbe--NUNw7sxbxGsMSjVa /* Bg */ {
    backdrop-filter: unset;
    background: unset;
}
/* Game Info */
._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz, /* Play Category */
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t /* Bottom */ {
    backdrop-filter: unset;
}
._3Yf8b2v5oOD8Wqsxu04ar ._3fLo166MlaNqP8r8tTyRz {
    transition: background var(--animation-duration-short3) ease-in-out, border-radius var(--animation-duration-medium1) ease-in-out;
}
._3Yf8b2v5oOD8Wqsxu04ar:not(._39RheXihcN6H2k2muQTjkI) ._3fLo166MlaNqP8r8tTyRz /* Not Collapsed */ {
    background: transparent;
    border-top-left-radius: var(--corner-radius-large);
    border-top-right-radius: var(--corner-radius-large);
}
._3Yf8b2v5oOD8Wqsxu04ar._39RheXihcN6H2k2muQTjkI ._3fLo166MlaNqP8r8tTyRz /* Collapsed */ {
    border-radius: var(--corner-radius-none);
}
._3qDWQGB0rtwM3qpXTb11Q- svg circle, ._3qDWQGB0rtwM3qpXTb11Q-:hover .zvLq1GUCH3yLuqv_TXBJ1 svg circle {
    stroke: transparent;
}
/* Game Info Collapsed */
._2L3s2nzh7yCnNESfI5_dN1 {
    width: 100%;
}
._2_86QNCjVvJTL3Qe6Xztx_._2sKVnd_AUg44QSdoAp8Lne /* Shadow */ {
    display: none;
}
._2zxzStp5qY5M1evOm8keES {
    transition: all var(--animation-duration-short3) var(--animation-easing-standart-accelerate);
}
/* Game Info (Cloud / Playtime / etc) */
._1kiZKVbDe-9Ikootk57kpA /* Achievements */ {
    transition: all var(--animation-duration-short3) var(--animation-easing-standart-accelerate);
    border-radius: var(--corner-radius-medium);
}

/* Game Actions (Store / Community / etc */
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t,
._3-V8vjmrwuJM6Ws3tsjFJj>div  /* Buttons */ {
    background-image: unset;
    border-image: unset;
    border-image-source: unset;
    box-shadow: unset;
    border-radius: var(--corner-radius-medium);
}
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t:not(._2G5B7o_YoI__u11--EFjal) {
    background: unset !important;
}
._3-V8vjmrwuJM6Ws3tsjFJj ._25f0fX6qbgdB7O_lMrbhCN {
    padding: unset;
}
._7k4qmaN8SUMvv6u-L81uk {
    padding: unset;
    margin-right: 12px;
}
._38t1mljBjmJfqjpVzMT1CG /* Achievements Fix */ {
    border-top-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-medium);
}
/* From your steam library */
.z8GYwNt_nbBZrf7OVjs-s {
    min-height: unset;
}
._2_86QNCjVvJTL3Qe6Xztx_ /* IDK, just being upper chips under from ur steam library */ {
    height: 0px;
    background: unset;
    margin-bottom: 0px;
}
/* You've played this game for X */
._3LE-6w1ItIAB4CKJFCa3Od {
    background: unset;
    padding: unset;
}
._3LE-6w1ItIAB4CKJFCa3Od ._2z8Na_s9JosX48wHF4HPiA {
    width: unset;
}
._2SAb6geDpe6toA1GaP0GjH {
    border-radius: var(--corner-radius-medium);
}
/* Buttons */
._1kCN0pAntrcGCSmcc-vYdk {
    margin: 0px 2px;
}
._1E6Ivnp3A4apXqQYtlQHEc ._1kCN0pAntrcGCSmcc-vYdk {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._1E6Ivnp3A4apXqQYtlQHEc ._1kCN0pAntrcGCSmcc-vYdk:first-child {
    border-top-left-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._1E6Ivnp3A4apXqQYtlQHEc ._1kCN0pAntrcGCSmcc-vYdk:last-child {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
/* Share Activity */
._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X:focus {
    box-shadow: unset;
}
._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 ._2JSyABqFEh-v_dwaTnBydR,
._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 button.bACIuqv-b_9TztCczFK19 {
    border-radius: var(--corner-radius-full);
}
/* View Latest News */
._1EC1xjjUGqI7fqX6PVzJA3 {
    background: unset;
    border-radius: var(--corner-radius-full);
}
/* Search Emoji */
.EuFePPYFGrcf99uLXmBYN ._2l4z-U60lABvd9XWArGjAf {
    border-bottom: unset;
    border-radius: var(--corner-radius-full);
}
/* X Achieved / Write review / etc */
.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT,
._39nnaT_CLE0m_WXVIrAwaG,
._39nnaT_CLE0m_WXVIrAwaG ._515RL2DZmyqkYq3yOP_m7 ._1ltVepCIamdDGwNMNKy3eA ._2-3DHZvulLmjn0i6nmbGrZ ._2ftHa0u7C-t3VTf5-DR9cr {
    box-shadow: unset;
    border-radius: var(--corner-radius-medium);
}
._1j_gja8bHXjiS-BeSQk8hb ._1s_9cSxUjb4609MSH0EjWH ._39Y01uSRcLiDg5DneTTR0m, /* Title */
._1j_gja8bHXjiS-BeSQk8hb ._1s_9cSxUjb4609MSH0EjWH ._2gLHbXukQBdrIKhqEYVvOe /* Description */ {
    cursor: pointer;
}
._39nnaT_CLE0m_WXVIrAwaG {
    margin-top: 4px;
}
.UVeN0kaD3zv1feMj_mMw5:has(.NEMXhMlqXOCJwfgWlHXhT):has(div ._34ZDOJFxOtspOltAZYWy-O ._39nnaT_CLE0m_WXVIrAwaG div ._515RL2DZmyqkYq3yOP_m7) .NEMXhMlqXOCJwfgWlHXhT {
    border-top-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
.UVeN0kaD3zv1feMj_mMw5:has(.NEMXhMlqXOCJwfgWlHXhT):has(div ._34ZDOJFxOtspOltAZYWy-O ._39nnaT_CLE0m_WXVIrAwaG div ._515RL2DZmyqkYq3yOP_m7) ._39nnaT_CLE0m_WXVIrAwaG {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}

/* load More Activity */
._3yTl3RiWfo-Itg-xp967wP ._39ZurKJQex6v69aXzvc_nj {
    border-radius: var(--corner-radius-full);
}

/* Updates */
._3QRf-tp5VddAF00vWY5Gn8, /* Small Updates */
._1AYE16384J_ecLpN0sEYc5, ._1HZy7BvOZuPT8feUwadL4W, /* Big Updates */
._39Zk32AvV5cr6g-83IVRVS, .LibriMVXcLl1HB60ZUp78, /* Major Updates */
.UVeN0kaD3zv1feMj_mMw5._3xi-HLpFVHaakihoqhQ_6C /* Featured */ {
    border: unset;
    border-image-source: unset;
    box-shadow: unset;
    border-radius: var(--corner-radius-medium);
}
._2tDv0EeJIdDmZLyfUE63t1 {
    color: var(--md-sys-color-on-surface-variant);
}
/* New DLC Added */
.ut0YcLYGAoSTz2Dnjw9U1 {
    border: unset;
    border-radius: var(--corner-radius-medium);
}
._1rjqv6aCi9t7H-prIq99fk {
    box-shadow: unset;
}
/* Big Img */
.VytJzt3Z_t6332-n24Yrc {
    border-radius: var(--corner-radius-small);
}
/* Major Line / Featured Bg */
._3oMUSjOFNB0E9LWcL2sE7,
.UVeN0kaD3zv1feMj_mMw5.By7D93oEZkZtBeg23NDoR._3xi-HLpFVHaakihoqhQ_6C {
    background: unset;
}
/* Major Img */ 
.fGDsmh9vz8h0RMEoRoAvF,
._2tDv0EeJIdDmZLyfUE63t1 {
    border-radius: var(--corner-radius-medium);
}
/* Featured */
.UVeN0kaD3zv1feMj_mMw5 ._1WdC0YUP8FT0dYWZ-QIVZL {
    position: absolute;
    right: 0px;
    margin-top: 4px;
    margin-right: 4px;
    line-height: unset;
    border-radius: var(--corner-radius-full);
}
/* Text Shadow */
._3fsjzvni7TQ1NphLHM_5r3, ._3zwBRDW1egliiT4pKYIXap, ._29bW1yCn25VTm4bFameBaV,
._3xi-HLpFVHaakihoqhQ_6C ._3dJ4Bq6Msivz5-UIHzSEQu,
._3xi-HLpFVHaakihoqhQ_6C .Ru7OBQzSxqIo3jIsbtV9g {
    text-shadow: unset;
}
/* Fix */
._38t1mljBjmJfqjpVzMT1CG {
    box-shadow: unset;
}
.fGDsmh9vz8h0RMEoRoAvF._3cX_vEKsN9S9EmR0O5w1Ol {
    filter: blur(32px) brightness(0.3) saturate(0) opacity(0.1);
    display: none;
}
/* Workshop */
._176QJCynkEUSdR_-9btdAW {
    border-bottom-left-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t:not(:has(.Panel)) ._176QJCynkEUSdR_-9btdAW {
    border-radius: var(--corner-radius-medium);
}
._1W34WpqfvufNgueNdZozwC .gh2rjM-vD2oIms-jfWeCA {
    border-radius: var(--corner-radius-small);
}
._176QJCynkEUSdR_-9btdAW button.DialogButton._3Cdin80d-hVsakHUZboheb:first-child {
    margin-right: 50px;
}
/* DLC */
._2bF7XkQZA1M7jTj6txLFp- ._3SQn1_upOaYSAJAn2N4YKY {
    box-shadow: unset;
}
._2bF7XkQZA1M7jTj6txLFp- .HAvWsE0-ycDj77SdyLXE-,
._2bF7XkQZA1M7jTj6txLFp- ._3SQn1_upOaYSAJAn2N4YKY.ZsU8nIIpj8MJn0vzMzSp1 ._24_AuLm54JVe1Zc0AApCDR {
    border-radius: var(--corner-radius-small);
}
/* Maybe Temporary Fix? */
._2ycfNEAjDWvJwI6a-Wef4Q ._15tTAQr0o8mb0NcLEUOz1c {
    margin-right: 8px;
}
/* Additional Content */
._11iUUsCpGW7-08wUrrGpge,
._3LAizMtUlmoLDISb1OIvn6 ._7zwZ-do4iycZzy-eZWv0Z.ZsU8nIIpj8MJn0vzMzSp1 ._24_AuLm54JVe1Zc0AApCDR {
    border-radius: var(--corner-radius-small);
}
.LO26ZYaqzK4mqekirGHGI ._3ikOg0yRAOzUTlfwD9zrH- {
    margin-top: 6px;
    margin-left: 6px;
    border-radius: var(--corner-radius-medium);
}
.LO26ZYaqzK4mqekirGHGI ._3ikOg0yRAOzUTlfwD9zrH- img {
    box-shadow: unset;
}
/* Post Actions */
._1yWgPveQ73QeYCdLcs6oFQ {
    margin-top: 4px;
}
._1yWgPveQ73QeYCdLcs6oFQ ._161IKq84RwQO4abJSCqv7q, ._1yWgPveQ73QeYCdLcs6oFQ ._3i62HEXIhsNTd5-Z4uL3K, ._1yWgPveQ73QeYCdLcs6oFQ ._35yrbgVC5TQttl8IPVlKQB {
    border-radius: var(--corner-radius-full);
}
/* Added to library */
._1cr9sIuuS4nLKFLZ9EYN9Q.ZsU8nIIpj8MJn0vzMzSp1 ._24_AuLm54JVe1Zc0AApCDR {
    border-radius: var(--corner-radius-small);
}
/* Post-Game Summary */
/* Img Recording */
._3AnDc05C5V6AG4ko7By2Yh,
.byaqiKxlP7wjhCY_je-6u,
.ily6w9czFJIzs8F314d2r,
._2l-1Pz5xsmqu_WjCKFECIC.vrAahO1d66txbqdV8UHnI, ._2l-1Pz5xsmqu_WjCKFECIC._1wITopi2O8KAw48kd-_bVT,
._2K3CxIg-4vjn9yiRPFTiLb, ._2K3CxIg-4vjn9yiRPFTiLb .kSkkIMk_cjHgnxaBoAI6m {
    border-radius: var(--corner-radius-medium);
    background: unset;
}
._2xWDffvlKnKW8aDKyFyg0n._1TaBg1kjP1wN-j8LZ0VyhZ {
    border-bottom-left-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
._2xWDffvlKnKW8aDKyFyg0n {
    text-shadow: unset;
}
._2K3CxIg-4vjn9yiRPFTiLb .MfsD2kHtq_kPO19285odF {
    z-index: 1;
}
/* Bg */
._2MKO5j24KqDdD-92hH5FXi {
    border-radius: var(--corner-radius-medium);
    outline-width: 1px;
    outline-style: solid;
}
/* Elevated */
.ily6w9czFJIzs8F314d2r {
    box-shadow: var(--elevated-shadow);
}
/* Available Content */
._2UySYiE8fUGGugkHVm1Qb ._2kqz-bSlDu-I49_cV_wicB {
    background: unset;
    box-shadow: unset;
    border: unset;
    border-image: unset;
    border-radius: var(--corner-radius-medium);
    outline-width: 1px;
    outline-style: solid;
}
/* Img */
._2bF7XkQZA1M7jTj6txLFp- .HAvWsE0-ycDj77SdyLXE- {
    background: unset;
}
._78Pwybe-fHVYEkQFFlpA5 ._3gB_gMsbWHUGn5Rqwe6KeC {
    border-radius: var(--corner-radius-medium);
    box-shadow: var(--elevated-shadow);
}
/* Shadow Mask Image Enchancer */
.SMWMsB-gz3WbYRK2HOm7i:not(:has(._16nHYucq6xgfe67DrVWLCI)) ._3CJctA7pLVdwHzNF5JmORE._1b9np87BteQi38-defpW0U:not(._1X10hweRfMtUjyF-CHh6K5) {
    -webkit-mask-image: linear-gradient(90deg, transparent 0%, black 10px, black calc(100% - 48px), transparent calc(100% - 10px), transparent 100%);
    mask-image: linear-gradient(90deg, transparent 0%, black 10px, black calc(100% - 48px), transparent calc(100% - 10px), transparent 100%);
}
._3CJctA7pLVdwHzNF5JmORE._1b9np87BteQi38-defpW0U._1X10hweRfMtUjyF-CHh6K5 {
    -webkit-mask-image: linear-gradient(90deg, transparent 0%, black 10px, black calc(100% - 48px), black calc(100% - 10px), black 100%);
    mask-image: linear-gradient(90deg, transparent 0%, black 10px, black calc(100% - 48px), black calc(100% - 10px), black 100%);
}
/* Buttons */
._1yEoLSbdr6RwEzqpyKLR4m {
    padding-bottom: 4px;
}
/* No More Activity */
._2-kDc3UDR-GN6V1lBpSupb, ._3UShzJcf4CyVupLSI3kqfD {
    border-radius: var(--corner-radius-medium);
}

/* Misc Fixes */
/* New To Library */
.N8aJrSpxQ6II4CY_aFdYI {
    box-shadow: unset;
    border-radius: var(--corner-radius-small);
}
._2jj5TjFhHD1lvxMlpJYek6 {
    top: -10px;
}
/* Avatar Bg Remove */
._3h-QRJGxnVOIExtHD1R0f2,
._1ABm6sfuqiZZDSL9z8mW1a,
._2gISWIeEzZ9PNuAzVuMaWd ._1-H7tKj_QcGHLUbx5wVsGg,
._2V2sHETNfa62yMoDwSF3_t {
    box-shadow: unset;
    text-shadow: unset;
}
._3dncOt2dhpnFYQn-WYQ3Mb ._2JYwpg3-WbCSXH-w5h-zL_ {
    box-shadow: unset;
    border-radius: var(--corner-radius-full);
}
/* Steam Deck Compability */
.tvCvyQrDNndbXWp_b5__b {
    flex-direction: column;
}
.WYgDg9NyCcMIVuMyZ_NBC._3VOR2AeYATx3qSE0I-Pm-5.biTV-8rS2M65imVHU15Nv.xp7A-08Y404Of3FBHqX32.Panel:has(._2d1hSvdpY5L2-GN1EnUb9Z) .tvCvyQrDNndbXWp_b5__b:not(:has(.kX-tIJx4a9vKVuUkKJARv)) ._3BPFqWN5T-x8njyrRYM1CX {
    margin-bottom: 75px;
}
/* loading On Game Cover */
.kX-tIJx4a9vKVuUkKJARv._1wAArO4jx5Kth5YdKAQ_Sd._3BNwjsy5WltxayFptkx3KF {
    width: 100%;
    margin-bottom: 78px;
}
/* Loading On Game Hover */
._1KHOCigl8AaK2eHxQqPMlc {
    margin-top: -10px;
    margin-bottom: 10px;
}
/* Read More */
._1W34WpqfvufNgueNdZozwC ._3DyemX0QGhW2mipZQwVfnS ._3Mq6sekyFK-ftT7QO56xSv .YE_jJPwp0fBbRm1vQHIIq {
    padding: 4px 6px;
    border-radius: var(--corner-radius-full);
}
/* Players */
._1GCZAht_W2I3Elndk5cU0- {
    border-radius: var(--corner-radius-medium);
}
/* Shelf divider */
._23SnllqT_AqZ1C_QHcNQ4Z ._1PhK8scyztOxjJwWUpkiLJ {
    border-radius: var(--corner-radius-full);
}
/* Modal Recording */
/* Fix */
._21_rrXIoZ7yQbc0u7rhvkP {
    border-color: transparent;
    border-width: 0px;
}
.isyHTP860Su66qLXg8c4A, ._1AGqAVUQuj81DaUOKJ9Eon:not(._1PKb5jI6E9EN9uLLK030zW),
._2HnDgHQT_3ehcs4WgskKG5:hover,
.ZHAfj0MPg1zDLXRnCzSsx {
    box-shadow: unset;
}
/* News Fullscreen */
._37MAYpIjl0IDA1xVhhsuX8>div:not(._2WEP32t2FdvHSRBiOZug83):not(._24sm_rs0RtItOALHFVIKms):not(._19eb8NMS53lqZR33su0kTr):not(.iJ6kMinIXkRkY49NT2sOx):not(._2SoWN3laHiRo1XbmPyTyPF) {
    backdrop-filter: unset;
}
._1KsYSVzmvIfRivBTcx-_GE {
    background-image: unset;
    box-shadow: unset;
    border: unset;
    border-radius: var(--corner-radius-medium);
}
._3Kelh1-_v6xHfRjF68n7NB, ._3ctGqQID5-8adtd7HlZ3YM, ._16xC0mtOWoLbvSQbmo_ycv {
    border-radius: var(--corner-radius-medium);
}
.A_A2B6fTn_MPLlGCmsLtd img {
    border-radius: var(--corner-radius-small);
}
._2-IygC3-t05_RYwPl6Fkgt {
    background: unset;
    border-radius: var(--corner-radius-medium);
}
.stsss-bTNuazY8FYtvTOX {
    display: none;
}
/* Buttons */
._1ABCOz8DSrl-YJdh1xD-m0._1dDpSuaJBGZzS41s0SPk4c,
._1ABCOz8DSrl-YJdh1xD-m0._1dDpSuaJBGZzS41s0SPk4c:hover {
    box-shadow: unset;
}
.rHz7G5xZ3qXUYUcBW2bzX, ._1ABCOz8DSrl-YJdh1xD-m0._1dDpSuaJBGZzS41s0SPk4c,
a._2HnDgHQT_3ehcs4WgskKG5,
._25gii5r23MmAqXvLZj24tK, ._3k90ug209sE23xAMqcM74s {
    border-radius: var(--corner-radius-full);
}
.rHz7G5xZ3qXUYUcBW2bzX:nth-child(2) {
    border-top-left-radius: var(--corner-radius-full);
    border-bottom-left-radius: var(--corner-radius-full);
    border-top-right-radius: var(--corner-radius-small);
    border-bottom-right-radius: var(--corner-radius-small);
    margin-right: 0px;
}
.rHz7G5xZ3qXUYUcBW2bzX:last-child:not(:first-child) {
    border-top-left-radius: var(--corner-radius-small);
    border-bottom-left-radius: var(--corner-radius-small);
    border-top-right-radius: var(--corner-radius-full);
    border-bottom-right-radius: var(--corner-radius-full);
}
/* Questions */
._34I5HgBL6QP2CcuI4emtaM {
    cursor: help;
}
/* Likes / Dislike */
._2BlTqJQonHkEpBSpiC1NEA, ._1izIEyRuLgphVa7NKAGtIb,
._2oPMu032IJnXb5-21W07V-  {
    border-radius: var(--corner-radius-full);
}

/* Community Content */
/* Title */
._2lNdDLgjQdeBXmMlPO8lvq {
    border-radius: var(--corner-radius-full);
    justify-content: center;
}
/* Arts */
._3QS6OBHpvI5bXsSQA2zQuW {
    box-shadow: unset;
    border-radius: var(--corner-radius-medium);
}
._3QS6OBHpvI5bXsSQA2zQuW ._3XZzfVx8SPRZc4kLownPRd {
    border-top-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-medium);
}
._1aP1bu_l_kDbKMN7XDNmzg ._3uabislt81gdMksbxzc-iN {
    border-top-right-radius: var(--corner-radius-medium);
}
._-85o5-M_cGo-fefOuWwER ._3XZzfVx8SPRZc4kLownPRd {
    border-radius: 0px;
}
._1ul9ZRBfhF0vyj-hrit6nU {
    background: unset;
}
._1aP1bu_l_kDbKMN7XDNmzg ._3uabislt81gdMksbxzc-iN {
    box-shadow: unset;
}
._3QS6OBHpvI5bXsSQA2zQuW:hover {
    box-shadow: var(--elevated-shadow);
}
.CwZqp0ZwInfY8H9jUO4Xy {
    border-radius: var(--corner-radius-full);
}
._-85o5-M_cGo-fefOuWwER ._33Cd4gWWUSqwn-dCRv_9Ko {
    margin: unset;
}
/* Actions */
._3QS6OBHpvI5bXsSQA2zQuW ._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4 {
    border-radius: var(--corner-radius-medium);
}
._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4 {
    margin-right: 3px;
}
._3QS6OBHpvI5bXsSQA2zQuW ._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4:first-child:not(:last-child) {
    border-top-left-radius: var(--corner-radius-medium);
    border-bottom-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._3QS6OBHpvI5bXsSQA2zQuW ._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4:not(:first-child):not(:last-child) {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-extra-small);
    border-bottom-right-radius: var(--corner-radius-extra-small);
}
._3QS6OBHpvI5bXsSQA2zQuW ._3lh8aaHNMcFvupuNhQDfFt ._1GfHtX6GRZ_5BukahmkQp4:last-child:not(:first-child) {
    border-top-left-radius: var(--corner-radius-extra-small);
    border-bottom-left-radius: var(--corner-radius-extra-small);
    border-top-right-radius: var(--corner-radius-medium);
    border-bottom-right-radius: var(--corner-radius-medium);
}
/* Demo */
.xYbDdgox9mzrraWWYN3_- {
    border-radius: var(--corner-radius-medium);
}
.xYbDdgox9mzrraWWYN3_- ._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
    border-radius: var(--corner-radius-small);
}
/* YouTube */
._1IGURymjmwZOxJLS-9BWKA {
    border-radius: var(--corner-radius-medium);
}
._1R7Ngck7T0RkTPGRUaq6Gr {
    margin-bottom: unset;
    border-bottom: unset;
}
._2FhVXotuJg4O0NN4qA07vU,
._1EYgVQdGSl6VonVuGGfDuy {
    text-shadow: unset;
}
/* Thumbnails */
.html5-video-player,
.ytp-cued-thumbnail-overlay-image {
    border-radius: var(--corner-radius-small) !important;
}
.ytp-gradient-top, .ytp-gradient-bottom {
    border-top-left-radius: var(--corner-radius-small) !important;
    border-top-right-radius: var(--corner-radius-small) !important;
}
.html5-video-player:not(.ytp-transparent), .html5-video-player.unstarted-mode, .html5-video-player.ad-showing, .html5-video-player.ended-mode {
    border-radius: var(--corner-radius-small) !important;
}
.ytp-impression-link {
    border-top-right-radius: var(--corner-radius-small) !important;
    border-bottom-right-radius: var(--corner-radius-small) !important;
}
/* Game Mini Hover */
/* ._3vg1vYU7iTWqONciv9cuJN {
    border-radius: var(--corner-radius-small);
} */
._2sGn0cBsD44TjnUIh-lx9d {
    border-radius: var(--corner-radius-small);
    box-shadow: var(--elevated-shadow);
}
._2R6-lF5h4f0SPrOL9B9IAw {
    -webkit-mask-image: unset;
    mask-image: unset;
    background: unset;
}
._1R9r2OBCxAmtuUVrgBEUBw.ZsU8nIIpj8MJn0vzMzSp1 ._3d_bT685lnWotXxgzKW6am:not(.yDr03475kalWBTwAE-Rnw) {
    border-radius: var(--corner-radius-small);
}
._2X1QC1U5u__OlHPUFDQnu_ {
    border-radius: var(--corner-radius-small);
}
._1Kdi2PBxcdQwDpa-48hrf2 {
    text-shadow: unset;
}
.My_SveQxVY_oRxfkK5mqN {
    margin-top: unset;
    margin-bottom: unset;
}
._3_0Qbu8IAsqsv_6W5AxRhe {
    border-radius: var(--corner-radius-medium);
    background: unset;
}
/* iframe */
._38FqIwZQKW6BlRyzN66pi6 {
    box-shadow: var(--elevated-shadow);
}
._38FqIwZQKW6BlRyzN66pi6 ._2HshOjKxsMkk2uUtP5Sp8x {
    display: none;
}
._1V52f_cM-aALy2XpzrJBIA ._22tloOR0Wp0KKLI9Bhcmm5 {
    background: unset;
}
._38FqIwZQKW6BlRyzN66pi6, ._38FqIwZQKW6BlRyzN66pi6 .rYBZBWnNW6m-N9vX0Chce {
    border-radius: var(--corner-radius-small);
}
/* Achievements Fix */
._37Lk82ESPo7El4__sqZgOV ._2KA0p5xYePYygXUbjjsPzA {
    border-radius: var(--corner-radius-medium);
}
/* Achievements bold outline fix */
svg path[d="M10.1777 10.0258L10.3929 9.80693V9.49999V5.52777H14.2857H14.6001L14.8205 5.30358L18 2.06976L21.1795 5.30358L21.3999 5.52777H21.7143H25.6071V9.50001V9.80696L25.8223 10.0258L28.5553 12.8055L25.8223 15.5853L25.6071 15.8041V16.1111V20.0833H21.7143H21.3999L21.1795 20.3075L18 23.5413L14.8205 20.3075L14.6001 20.0833H14.2857H10.3929V16.1111V15.8042L10.1777 15.5853L7.44464 12.8055L10.1777 10.0258ZM14.7399 28.0317L11.56 33.4221L9.85164 29.9469L9.6456 29.5278H9.17857H6.29474L8.68445 25.3611H12.1142L14.7399 28.0317ZM26.8214 29.5278H26.3544L26.1484 29.9469L24.44 33.4221L21.2601 28.0317L23.8858 25.3611H27.3155L29.7053 29.5278H26.8214Z"] {
    stroke-width: 0;
}
/* Big trophy little smaller */
._2YS0EBJmY2Rvs07zZ90UIJ svg path {
    scale: 0.9;
}

/* Check for Updates */
._1_yS5UP7el0aN4vntx3dx > div:not([class]) {
    width: max-content !important;
    position: absolute !important;
    bottom: 70px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}   
._2iJsgdTIX9Tj23rWnB7Q-c {
    border-radius: var(--corner-radius-large);
}

/* Cards Fix */
._2IS7ZQo16varVLcyuFh4sY:has(._20mFRtBlmlH4r-Nhl4P2kO) {
    gap: 6px;
    padding-bottom: 8px;
}