/* Progress Indicator / Bar */
/* https://m3.material.io/components/progress-indicators/overview */

._1EubJAK9z7JtdGks5M2f8t, /* Basic */
._2_FomluqqgQ2Hx8ON3AVep .wi0pDywRgOCxhG7OqQNaA, ._3szjUMH5QeRwtXAsLRcWt9._3DjdoQj5NoknowwV5t5JPN::after, /* Downloads */
._25YVDTaClw6Y2COPsU0UaV, ._1OIatPEED_bSmd_CNyMv7C, ._1OIatPEED_bSmd_CNyMv7C ._3Rm36_oeAhvIg6ZYP9l1Jj, /* Achievements */
.kX-tIJx4a9vKVuUkKJARv, .kX-tIJx4a9vKVuUkKJARv .mA39Hqv8LacDppegb_Q_Z, /* Progress On Game */
._3ns9185LizH61StaAXuAp6, ._3ns9185LizH61StaAXuAp6 ._3Rm36_oeAhvIg6ZYP9l1Jj, ._1OIatPEED_bSmd_CNyMv7C ._3Rm36_oeAhvIg6ZYP9l1Jj, /* Achievements */
._25YVDTaClw6Y2COPsU0UaV /* Downloads */ {
    border-radius: var(--corner-radius-full);
    box-shadow: unset;
}

._1EubJAK9z7JtdGks5M2f8t .wEM7Q5RG3mzmns1x1Zjux:last-child {
    border-top-right-radius: var(--corner-radius-full);
    border-bottom-right-radius: var(--corner-radius-full);
}

._2Dptk9e7W_k4zYB5wfRTcp .Qeg4qAFIMLaYd3mHOBndS {
    border-radius: var(--corner-radius-full);
}
._1-nHjRywUoX7Mpyc6JOPaQ ._2_0JonK7eKEvh8IoOvq0-B {
    border-radius: var(--corner-radius-full);
}

._3szjUMH5QeRwtXAsLRcWt9._3DjdoQj5NoknowwV5t5JPN::after /* Downloads */ {
    background-image: unset;
}