/* Loading? */
._1TR3CCCdSmI-0MXucYBuP2 ._6Z2AOU-R-8aK7KZevey0W ._3YzgVE15q0lUY1uAwRQm1U img,
.l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux>img, .l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux>svg,
.l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux {
	border-radius: var(--corner-radius-medium) !important;
}
/* Library */
._3h-QRJGxnVOIExtHD1R0f2:has(+ ._2nPONxDUmK4rQXzK4Y3vG2),
.nibodjvvrm86uCfnnAn4g,
._1xTATKELHR-lRS_s3A4yzd ._36eQg-jp1ebbdaE6PBniHu, ._3h-QRJGxnVOIExtHD1R0f2,
._3yD46y5pd3zOGR7CzKs0mC,
/* Store */
.store_nav .tab img.foryou_avatar,
.friends_container .avatars a img,
/* Community/Powered */
.player_avatar img,
.avatarMedium img,
.playerAvatar img, .friend_block_holder .friend_block_avatar img, .friend_activity .friend_block_avatar img,
.friendBlock .playerAvatar, .commentthread_comment_avatar,
.grouppage_friendsingroup .friendavatar,
.avatarIcon img,
/* Mini-Profile */
.miniprofile_playersection .playersection_avatar img,
/* Disable Round Avatars with Cosmetic Border */
.playerAvatarAutoSizeInner:has(.profile_avatar_frame) img,
.miniprofile_playersection:has(.playersection_avatar_frame) .playersection_avatar img,
.playerAvatar:has(.profile_avatar_frame) img,
/* Online Fix */
.playerAvatar, .friend_block_holder .friend_block_avatar, .friend_activity .friend_block_avatar,
/* Notifications */
._32niVn3s7EKoKY0-pASwDJ,
/* Chat */
.friend.emptyFriend .avatarHolder img.avatar  {
	border-radius: var(--corner-radius-small) !important;
}


/* Disable Round Avatars with Cosmetic Border */
.avatarHolder:has(.avatarFrame) .avatar,
.playerAvatar:has(.profile_avatar_frame) img,
.miniprofile_playersection:has(.playersection_avatar_frame) .playersection_avatar img {
	border-radius: var(--corner-radius-small) !important;
	outline-width: 1px !important;
}
.playerAvatar .profile_avatar_frame > img {
    outline: unset !important;
}

/* Fix */
.playerAvatar .profile_avatar_frame > img {
	border-radius: 0px !important;
}