:root {
    --theme-color: "Cyan";
    --hue-rotate: 330deg;
    --md-sys-color-primary: var(--scheme-light, rgb(0 107 138)) var(--scheme-dark, rgb(79 216 235));
    --md-sys-color-surface-tint: var(--scheme-light, rgb(0 107 138)) var(--scheme-dark, rgb(79 216 235));
    --md-sys-color-on-primary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(0 54 69));
    --md-sys-color-primary-container: var(--scheme-light, rgb(188 235 255)) var(--scheme-dark, rgb(0 79 103));
    --md-sys-color-on-primary-container: var(--scheme-light, rgb(0 79 103)) var(--scheme-dark, rgb(188 235 255));
    --md-sys-color-secondary: var(--scheme-light, rgb(77 98 108)) var(--scheme-dark, rgb(176 202 213));
    --md-sys-color-on-secondary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(29 50 60));
    --md-sys-color-secondary-container: var(--scheme-light, rgb(209 230 240)) var(--scheme-dark, rgb(51 73 84));
    --md-sys-color-on-secondary-container: var(--scheme-light, rgb(51 73 84)) var(--scheme-dark, rgb(209 230 240));
    --md-sys-color-tertiary: var(--scheme-light, rgb(95 87 120)) var(--scheme-dark, rgb(202 194 230));
    --md-sys-color-on-tertiary: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(46 41 71));
    --md-sys-color-tertiary-container: var(--scheme-light, rgb(231 221 255)) var(--scheme-dark, rgb(70 63 95));
    --md-sys-color-on-tertiary-container: var(--scheme-light, rgb(70 63 95)) var(--scheme-dark, rgb(231 221 255));
    --md-sys-color-error: var(--scheme-light, rgb(186 26 26)) var(--scheme-dark, rgb(255 180 171));
    --md-sys-color-on-error: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(105 0 5));
    --md-sys-color-error-container: var(--scheme-light, rgb(255 218 214)) var(--scheme-dark, rgb(147 0 10));
    --md-sys-color-on-error-container: var(--scheme-light, rgb(147 0 10)) var(--scheme-dark, rgb(255 218 214));
    --md-sys-color-background: var(--scheme-light, rgb(246 253 255)) var(--scheme-dark, rgb(15 20 22));
    --md-sys-color-on-background: var(--scheme-light, rgb(22 29 32)) var(--scheme-dark, rgb(222 232 235));
    --md-sys-color-surface: var(--scheme-light, rgb(246 253 255)) var(--scheme-dark, rgb(15 20 22));
    --md-sys-color-on-surface: var(--scheme-light, rgb(22 29 32)) var(--scheme-dark, rgb(222 232 235));
    --md-sys-color-surface-variant: var(--scheme-light, rgb(220 232 237)) var(--scheme-dark, rgb(64 72 76));
    --md-sys-color-on-surface-variant: var(--scheme-light, rgb(64 72 76)) var(--scheme-dark, rgb(192 204 209));
    --md-sys-color-outline: var(--scheme-light, rgb(112 121 126)) var(--scheme-dark, rgb(138 150 155));
    --md-sys-color-outline-variant: var(--scheme-light, rgb(192 204 209)) var(--scheme-dark, rgb(64 72 76));
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: var(--scheme-light, rgb(43 50 53)) var(--scheme-dark, rgb(222 232 235));
    --md-sys-color-inverse-on-surface: var(--scheme-light, rgb(237 244 247)) var(--scheme-dark, rgb(43 50 53));
    --md-sys-color-inverse-primary: var(--scheme-light, rgb(79 216 235)) var(--scheme-dark, rgb(0 107 138));
    --md-sys-color-primary-fixed: var(--scheme-light, rgb(188 235 255)) var(--scheme-dark, rgb(188 235 255));
    --md-sys-color-on-primary-fixed: var(--scheme-light, rgb(0 31 41)) var(--scheme-dark, rgb(0 31 41));
    --md-sys-color-primary-fixed-dim: var(--scheme-light, rgb(79 216 235)) var(--scheme-dark, rgb(79 216 235));
    --md-sys-color-on-primary-fixed-variant: var(--scheme-light, rgb(0 79 103)) var(--scheme-dark, rgb(0 79 103));
    --md-sys-color-secondary-fixed: var(--scheme-light, rgb(209 230 240)) var(--scheme-dark, rgb(209 230 240));
    --md-sys-color-on-secondary-fixed: var(--scheme-light, rgb(8 29 38)) var(--scheme-dark, rgb(8 29 38));
    --md-sys-color-secondary-fixed-dim: var(--scheme-light, rgb(176 202 213)) var(--scheme-dark, rgb(176 202 213));
    --md-sys-color-on-secondary-fixed-variant: var(--scheme-light, rgb(51 73 84)) var(--scheme-dark, rgb(51 73 84));
    --md-sys-color-tertiary-fixed: var(--scheme-light, rgb(231 221 255)) var(--scheme-dark, rgb(231 221 255));
    --md-sys-color-on-tertiary-fixed: var(--scheme-light, rgb(23 19 49)) var(--scheme-dark, rgb(23 19 49));
    --md-sys-color-tertiary-fixed-dim: var(--scheme-light, rgb(202 194 230)) var(--scheme-dark, rgb(202 194 230));
    --md-sys-color-on-tertiary-fixed-variant: var(--scheme-light, rgb(70 63 95)) var(--scheme-dark, rgb(70 63 95));
    --md-sys-color-surface-dim: var(--scheme-light, rgb(214 225 229)) var(--scheme-dark, rgb(15 20 22));
    --md-sys-color-surface-bright: var(--scheme-light, rgb(246 253 255)) var(--scheme-dark, rgb(53 58 61));
    --md-sys-color-surface-container-lowest: var(--scheme-light, rgb(255 255 255)) var(--scheme-dark, rgb(10 15 17));
    --md-sys-color-surface-container-low: var(--scheme-light, rgb(240 247 250)) var(--scheme-dark, rgb(22 29 32));
    --md-sys-color-surface-container: var(--scheme-light, rgb(234 241 244)) var(--scheme-dark, rgb(26 33 36));
    --md-sys-color-surface-container-high: var(--scheme-light, rgb(228 235 239)) var(--scheme-dark, rgb(37 43 46));
    --md-sys-color-surface-container-highest: var(--scheme-light, rgb(222 232 235)) var(--scheme-dark, rgb(48 54 58));
}
