button.DialogButton, button.TEWmsM70ZLEOxLAjDMpcv.DialogButton, button.DialogButton::before,
._1hhB2Wf7iExA15zh_lDQ_y ._3ydigb6zZAjJ0JCDgHwSYA,
._2foCkpRXhqq0UGVE50BWqj, .ip-YZhijAMZcuRoXBGiye, ._1TdaAqMFadi0UTqilrkelR,
.HijmccPB1BKyhOwhX1EVl, .HijmccPB1BKyhOwhX1EVl::after,
._1J21tLst5SEhBPkVRT53UV div, ._1J21tLst5SEhBPkVRT53UV,
.btn_grey_white_innerfade,
.btnv6_blue_hoverfade,
.account_manage_link,
._9fMwjaiixbDViVPurFAa4,
._3ayYOCw_ZCm0rF1vDVmwfO .rG9v6g24n_n7jdI7rK5zY ._3OIDlxU9x7bhWVKKi8wwaH ._39Ldnfxr7DlhXHZZgBVF4W,
._3ayYOCw_ZCm0rF1vDVmwfO .rG9v6g24n_n7jdI7rK5zY ._3OIDlxU9x7bhWVKKi8wwaH ._15P7ohP3vq0SmtT5d274y1,
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU,
._35_OgqfHHZfSzTYfv367K6, ._1kCN0pAntrcGCSmcc-vYdk,
._3zfQA8bEKpisPtsyT4SovP, .Utdt7JrpIm5JlpQmqyj1v, ._5wILZhsLODVwGfcJ0hKmJ, ._3LKQ3S_yqrebeNLF6aeiog:hover,
._33bWWYKdaxI_uMvK0TPjm4 ._3vDq3loNLE6O8iHtj6rOfX ._25n_zgE_sgrYzl4G-YE8VN,
._33bWWYKdaxI_uMvK0TPjm4 ._3vDq3loNLE6O8iHtj6rOfX ._25n_zgE_sgrYzl4G-YE8VN svg,
._1VNuYHM6BPBOJspC6zPf5r .sQZ70orTPi-ELUlaS-ywR._1FnJ6dPuknQFQ2RTpKTI16._3cI5TXsFX3bvpR-7EBOtxq ._3ydigb6zZAjJ0JCDgHwSYA._2AzIX5kl9k6JnxLfR5H4kX,
._1VNuYHM6BPBOJspC6zPf5r ._2ZfashhZu6uE9fCwyPS9mJ._2WEwEIAncE7-wa4Ye07a8x ._3oavRVhIS9tC3vBsFT4Ggi {
    transition:
        all 350ms var(--animation-expressive-fast-spatial),
        color 150ms var(--animation-expressive-fast-effects),
        background 150ms var(--animation-expressive-fast-effects) !important;
}
._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi,
._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi svg,
.DialogControlsSection ._2XSsNSGcWjGZ6z3fvqaRd5._3vgH-W3sYStLJYfV4JgE5b button.DialogButton,
.DialogControlsSection.RoSh6WoygUX6LLAoB20f3 button.DialogButton,
.DialogToggleField_Option,
._24Y_0sMrz5EywcAsFUstI1,
._3OzkVrQFFPv0aV41N4MrHV .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L,
._3OzkVrQFFPv0aV41N4MrHV .fbu3l7kPiBeb3EKCjIb8n ._3ZLaTxSHxeGcoKlIy_-Z0L svg path,
.ZTbww2QfIllvCwVHmpixE {
    transition:
        all 350ms var(--animation-standart-fast-spatial) !important;
}

._3IWn-2rn7x98o5fDd0rAxb, ._3IWn-2rn7x98o5fDd0rAxb .g0-tUEN69PBXlaY8cML51, ._3IWn-2rn7x98o5fDd0rAxb._2_dwxMdH27kBf-gQ3Wrk7z ._1J1LQ0vGtpM3n0xw7XwQM6 {
    transition:
        all 550ms var(--animation-expressive-default-spatial),
        color 250ms var(--animation-expressive-default-effects),
        background 250ms var(--animation-expressive-default-effects);
}

/* big picture */
._2KhPXikozxMpbIRo_6jPxW, .B40DvkTvaDfC6yoDIOGa7 /* keyboard */ {
    transition:
        all 350ms var(--animation-expressive-fast-spatial),
        color 150ms var(--animation-expressive-fast-effects),
        background 150ms var(--animation-expressive-fast-effects);
}

/* Millenium Title Bar Buttons */
.MillenniumDesktopSidebar_Title .DialogButton {
    animation:
        titleBarButtonWidthAnimation var(--animation-duration-long1) var(--animation-expressive-default-effects) !important;
}

@keyframes titleBarButtonWidthAnimation {
    0% {
        max-width: 0px;
    }
    99% {
        max-width: 99px;
    }
    100% {
        max-width: unset;
    }
}