._7EGqd8bdiXJBd2fj5Hh8r, ._2LyGIHuQ8SFKb5T262YUvg,
.DesktopUI .Oo5JPcEk_erKEYAzYp2n,
._1OOQPJx0nCNP9ME9toCmV7,
._1OOQPJx0nCNP9ME9toCmV7 ._3RkGkNRNheAkoRA3migph5,
.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w ._134yW7SKfZYwmvwlUElGx- ._3DEhfTvEKwgLd4smd6QdaU {
    transition:
        all 150ms var(--animation-expressive-fast-effects) !important;
}

._1u5y7VbwvOwncjMsMqnFUz,
.Zq-YGng4xfhI7CCwSN6UF,
._152HTE3xZ88Xk7LEEPFE68,
._1K1x9myo7Kli0IP_plaz9D {
    animation:
        cardAnim 750ms var(--animation-standart-slow-spatial) !important;
    transform-origin: top !important;
}

@keyframes cardAnim {
    0% {
        max-height: 0px;
    }
    99% {
        max-height: 150px;
    }
    100% {
        max-height: unset;
    }
}