.ModalPosition_Content, .ModalOverlayBackground {
    transition: var(--animation-basic-fast);
}
.ModalOverlayBackground {
    animation: 0.07s ease-in-out 0s 1 Overlay !important;
}
/* .DialogContent._DialogLayout {
    animation: 0.07s ease-in-out 0s 1 Appeared !important;
} */

.DialogContent._DialogLayout:not(.CFTLX2wIKOK3hNV-fS7_V),
div.ModalPosition_Dismiss {
    animation: opacity var(--animation-duration-short2) ease, openDialog var(--animation-duration-long1) var(--animation-easing-standart-decelerate);
    transform-origin: top;
}
.DialogContent._DialogLayout:not(.CFTLX2wIKOK3hNV-fS7_V) .DialogHeader {
    animation: opacity var(--animation-duration-short2) ease, openDialogHeader var(--animation-duration-long1) var(--animation-easing-standart-decelerate);
}
.DialogContent._DialogLayout:not(.CFTLX2wIKOK3hNV-fS7_V) .DialogBodyText {
    animation: opacity var(--animation-duration-short2) ease, openDialogContent var(--animation-duration-long1) var(--animation-easing-standart-decelerate);
    transform-origin: top;
}
.DialogContent._DialogLayout:not(.CFTLX2wIKOK3hNV-fS7_V) .DialogFooter {
    animation: opacity var(--animation-duration-short2) ease, openDialogHeader var(--animation-duration-long1) var(--animation-easing-standart-decelerate);
}

@keyframes openDialog {
    0% {
        opacity: 0.5;
        translate: 0px -30px;
    }
}

@keyframes openDialogHeader {
    0% {
        opacity: 0;
    }
}

@keyframes openDialogContent {
    0% {
        opacity: 0;
        transform: scale(1, 0.5);
    }
}