img[src="/images/steam_spinner.png"] {
    /* filter: hue-rotate(var(--hue-rotate)) invert(var(--scheme-light, 1) var(--scheme-dark, 0)) saturate(0.3); */
    filter: hue-rotate(var(--scheme-light, calc(var(--hue-rotate, 0deg) + 180deg)) var(--scheme-dark, var(--hue-rotate, 0deg))) invert(var(--scheme-light, 1) var(--scheme-dark, 0)) saturate(0.3);
}

/* .VZ6x_grhNkIYJG__jEEyp.DesktopUI._1NBr0Hdw3P-7Q6P5UXs96Y, .DesktopUI .VZ6x_grhNkIYJG__jEEyp._1NBr0Hdw3P-7Q6P5UXs96Y {
    background: url(https://miro.medium.com/v2/resize:fit:1400/0*r_t75Qtcc10JaBFr) !important;
    background-position: center !important;
    background-size: 125% !important;
    background-repeat: no-repeat !important;
}
._1TR3CCCdSmI-0MXucYBuP2 {
    backdrop-filter: blur(3px) brightness(0.5);
} */